<link rel="stylesheet" type="text/css" href="style.css" />


<div id="main">
	<div class="main_top">
		<h1>Listing products</h1>
	</div>

	<div class="main_body">
	
	<div id="search">
	<%= render :partial => 'products/search' %>
	</div>
	
		<table>
			<tr >
			<% @products.each do |product| %>
				
				<td><%= link_to "#{image_tag(product.photo, :alt => "My Photo", :align => "left",  :size => "100x120")}".html_safe, product %></td>
				
					<p><td><b><%= product.name %></p> <%= product.price %></td><b>
					

					
			<% end %>
			</tr>
		</table>
		</br>
		<%= link_to 'New Product', new_product_path %>
		<p><%= will_paginate @orders %></p>

	</div>
<div class="main_bottom">
			
        </div>

</div>


